@model Advancedproject.Models.Doctor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>Edit</h2>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Did" />
            <div class="form-group">
                <label asp-for="D_name" class="control-label"></label>
                <input asp-for="D_name" class="form-control" />
                <span asp-validation-for="D_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D_age" class="control-label"></label>
                <input asp-for="D_age" class="form-control" />
                <span asp-validation-for="D_age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D_address" class="control-label"></label>
                <input asp-for="D_address" class="form-control" />
                <span asp-validation-for="D_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_no" class="control-label"></label>
                <select asp-for="Dept_no" class="form-control" asp-items="ViewBag.Dept_no"></select>
                <span asp-validation-for="Dept_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

